
@{
    ViewBag.Title = "Movie";
}

<h2>Movie</h2>

<iframe width="1361" height="776" src="https://www.youtube.com/embed/A6W-nNPl1T8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="1361" height="776" src="https://www.youtube.com/embed/dzQtWkpc2-c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="1361" height="776" src="https://www.youtube.com/embed/GuW21RLMndc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>