
@{
    ViewBag.Title = "Subject";
}

<h2>Subject</h2>


<table>
    <tr>
        <th>Materia</th>
        <th>Horario</th>
        <th>Profesor</th>
        <th>Aula</th>
    </tr>
    <tr>
        <td>Programacion III</td>
        <td>Miercoles 9AM-12PM</td>
        <td>Juan Rosario</td>
        <td>1-1C</td>
    </tr>

    <tr>
        <td>Calculo Integral</td>
        <td>Lunes 2PM-5PM</td>
        <td>Wilton Oltmans</td>
        <td>1-1A</td>

    </tr>

    <tr>
        <td>Ingienieria de Software</td>
        <td>N/A</td>
        <td>Leandro Fondeur</td>
        <td>Virtual</td>
    </tr>

    <tr>
        <td>Programacion WEB</td>
        <td>N/A</td>
        <td>Bismark Montero</td>
        <td>Virtual</td>

    </tr>

    <tr>

        <td>Auditoria Informatica</td>
        <td>N/A</td>
        <td>Viela Reyes</td>
        <td>Virtual</td>
    </tr>

    <tr>

        <td>Ingles Tecnico</td>
        <td>N/A</td>
        <td>Jean Gilles Jean Gesner</td>
        <td>Virtual</td>

    </tr>

</table>

<br />


<a href="Hobbie" class="btn btn-primary">Hobbies</a>
<br />

<br />

<br />
<a href="Movie" class="btn btn-primary">Movies</a>


