
@{
    ViewBag.Title = "Welcome";
}


<h2>Welcome</h2>
<img src= "https://i.ibb.co/5x8f4bQ/pp.jpg" alt="Profile Photo" height="240" width="240" />
<h4>Nombre: Nizar Sanchez</h4>
<h4>Matricula: 2018-6482</h4>

<a href="\Personal/Subject" class="btn btn-primary">Subjects</a>




