
@{
    ViewBag.Title = "Form";
}

    <form method="post" action="\Form/Result">

        First name:<br />
        <input type="text" name="firstname" /><br />
        Last Name:<br />
        <input type="text" name="lastname" /><br />
        Age:<br />
        <input type="text" name="age" /><br />
        DNI:<br />
        <input type="text" name="dni" /><br />
        Phone:<br />
        <input type="text" name="phone" /><br />
        Email:<br />
        <input type="text" name="email" /><br />
        <br />
        <input type="submit" name="send" />
     
        
        







    </form>

