
@{
    ViewBag.Title = "Hobbies";
}

<h2>Hobbies</h2>

<img src="https://i.pinimg.com/originals/2f/9d/b5/2f9db56234636a1f5d1263f840686636.jpg" alt="Coding"></img>
<img src="http://www.brooklynvegan.com/files/2016/10/megadeth-prudential-111.jpg?w=630&h=420&zc=1&cc=000000&a=t" alt="Listen Music" />
<img src="https://techanimate.com/wp-content/uploads/2017/05/watching-all-might-on-youtube.jpg" alt="Watching Anime" />


